@media (max-width: 1200px) {

   .round{
      bottom: -64px;
   }

   .prev {
       left: -20px;
   }

   .next {
       right: -20px;
   }

   .history .title h3{
      line-height: 1;
   }

   footer .inner div a:first-child::after, footer .inner div a:nth-child(2)::after{
      left: 32px;
   }
}
/*---------------970 ----------------*/
@media (max-width: 970px) {

   .navi li, .c-hamburger{
      display: block ;
   }

   .navi ul{
      position: absolute;
       display: block;
       top: -400px;
       left: 0;
       right: 0;
       margin: auto;
       text-align: center;

       transition: 1s;
   }

   .navi li a{
      display: inline-block;
      width: 100%;
      height: 100%;
      background: rgba(15, 15, 15, 0.41);
   }

   .navi li a:visited{
      text-decoration: none !important;
   }

   .navi li a:hover, .navi li a:active{
      background: rgba(164, 126, 95, 0.74);
      text-decoration: none !important;
   }

   .navi .is-active+ul{
      display: block;
      top: 100px;
      z-index: 5;
   }

   .round{
      bottom: -148px;
   }

   .bord_err::before{
      width: 80%;
   }

   .sec_wrap_right{
      padding-left: 27%;
      margin-top: 50px;
   }

   .mid_left{
      width: 50%;
   }

   .mid_right .ready{
      display: none;
   }

   .slider div.carousel{
      width: 240px !important;
   }

   .prev {
      left: 0;
   }

   .next{
      right: 0;
   }

   .top_mill p{
      margin-bottom: 50px;
   }

   .bot_slider .cooking{
      top: 36px;
   }

   .bot_slider .cooking .transp{
      width: 150px;
      height: 150px;
      margin-bottom: 27px;
   }

   .bot_slider .ready.ready_bot{
      width: 150px;
      height: 150px;
   }

   .bot_slider .cooking .transp h4{
      padding-top: 0px;
   }

   .ready p{
      height: 103px;
   }

   footer .logo{
      font-size: 17px;
      line-height: 2;
   }

   footer .inner div a:first-child::after, footer .inner div a:nth-child(2)::after{
      left: 17px;
   }

}
/********************************/

@media (max-width: 768px){

   .top_wrap .logo{
      text-align: center;
   }

   .c-hamburger {
       height: 65px;
   }

}

/************************/
@media (max-width: 425px) {

   .top_wrap .logo{
      text-align: center;
   }

   .top_wrap .social{
      text-align: center;
   }

   .social i{
      font-size: 18px;
   }

   .c-hamburger{
      height: 65px;
   }

   .navi .is-active+ul{
      top: 138px;
   }

   .main_circle h1 {
    font-size: 56px;
   }

   .main_circle p{
      margin-top: 58px;
   }

   .btn_menu{
      margin-top: 53px;
   }

   .sec_wrap_right{
      padding-left: 15px;
   }

   .middle_wrap .mid_left{
      display: none;
   }

   .middle_wrap .container{
      overflow: hidden;
   }

   .slider div.carousel{
      width: 354px !important;
   }

   .hard_layers{
      display: none;
   }

   .bottom_wrap{
      padding-top: 0px;
   }

   .top_mill{
      margin-top: 20px;
      display: block;
      text-align: center;
   }

   .top_mill h3{
      font-size: 40px;
   }

   footer .logo{
      display: none;
   }

   footer .inner{
      margin: 0;
      border: none;
      border-radius: 0px;
   }

   footer .inner div{
      display: block;
   }

   footer .inner div a{
      display: block;
      font-size: 16px;
      padding: 5px 0;
   }

   footer .inner::before, footer .inner::after{
      display: none;
   }

   footer .inner div a:first-child::after, footer .inner div a:nth-child(2)::after{
      display: none;
   }


}

@media (max-width: 375px){

   .main_circle{
      margin-top: 95px;
   }

   .prev, .next{
      display: none;
   }

   .bot_slider img{
      width: 400px;
   }

   .bot_slider .cooking .transp {
       width: 80px;
       height: 80px;
       margin-bottom: 10px;
   }

   .bot_slider .ready.ready_bot {
       width: 80px;
       height: 80px;
   }

   .bot_slider .cooking {
       top: 13px;
   }

   .bot_slider .cooking .transp h4, .bot_slider .cooking h4{
      font-size: 14px;
      margin-bottom: 0px;
   }

   .bot_slider .cooking .transp p, .bot_slider .ready p {
       font-size: 30px;
       height: 30px;
   }

   .middle_wrap .container{
      overflow: hidden;
   }

   .mid_right{
      padding: 0;
   }

   .chief .chief_line{
      width: 90px;
   }

   .mill h3, .mill span, .mill p{
      padding-left: 10px;
      padding-right: 10px;
   }

   .carousel li{
      /*width: 114px !important;*/
   }

}
